# Python >=3.10
numpy
torch
torchvision
opencv-python
matplotlib
piq
# CellSAM requirements
requests
dask[distributed]
dask-image
matplotlib
torchvision
pyyaml
scipy
git+https://github.com/facebookresearch/segment-anything.git
scikit-image
scikit-learn
torch
numpy
tqdm
pytest